<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <!--<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">-->
    <meta name="author" content="{{ site.author }}">
    <meta property="og:url"  content="{% if page.url=='' %}{{ site.url }}{% else %} {{ site.url }}{{ page.url }} {% endif %}" />
    <meta property="og:type"  content="{% if page.og-type %}{{ page.og-type }}{% else %}website{% endif %}" />
    <meta property="og:title" content="{% if page.og-title %}{{ page.og-title }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:author" content="{% if page.og-author %}{{ page.og-author }}{% else %}{{ site.author }}{% endif %}" />
	<meta property="og:publisher" content="{% if page.og-publisher %}{{ page.og-author }}{% else %}{{ site.publisher }}{% endif %}" />
    <meta property="og:description" content="{% if page.og-description %}{{ page.og-description }}{% else %}{{ site.og-description }}{% endif %}" />
    <meta property="og:image" content="{{site.baseurl}}/images/{% if page.og-image %}posts/{{ page.og-image }}{% else %}{{ site.og-image }}{% endif %}" />
   
<!-- Twitter Card data -->
<meta name="twitter:card" content="{% if page.og-type %}{{ page.og-type }}{% else %}website{% endif %}">
<meta name="twitter:site" content="{{ site.title }}">
<meta name="twitter:title" content="{% if page.og-title %}{{ page.og-title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.og-description %}{{ page.og-description }}{% else %}{{ site.og-description }}{% endif %}">
<meta name="twitter:creator" content="{% if page.og-author %}{{ page.og-author }}{% else %}{{ site.author }}{% endif %}">
<meta name="twitter:image" content="{{site.baseurl}}/images/{% if page.og-image %}posts/{{ page.og-image }}{% else %}{{ site.og-image }}{% endif %}">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{% if page.og-title %}{{ page.og-title }}{% else %}{{ site.title }}{% endif %}">
<meta itemprop="description" content="{% if page.og-description %}{{ page.og-description }}{% else %}{{ site.og-description }}{% endif %}">
<meta itemprop="image" content="{{site.baseurl}}/images/{% if page.og-image %}posts/{{ page.og-image }}{% else %}{{ site.og-image }}{% endif %}">
<title>Chargeduck</title>
<!-- Bootstrap core CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom Css -->
    <link href="{{site.baseurl}}/css/custom.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/fonts.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/custommedia.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- Slick Nav -->
    <link rel="stylesheet" href="{{site.baseurl}}/SlickNav/slicknav.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:300,400" rel="stylesheet"> 
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript">
$(document).ready(function(){
	$('#menu').slicknav();
});
</script>
</head>
<body>