<!-- ================ Video Section ================ -->
<div class="container videosection">
	<h4>Confused? See Our Video Tutorials</h4>
    <div class="row">
    	<div class="col-xs-12 col-sm-5 col-md-5">
        	<h5>How does the trial work?</h5>
            {{page.videoDescription}}
            <a href="{{page.videoUrl}}" class="btn">Buy It Now</a>
        </div>
        
        <div class="col-xs-12 col-sm-7 col-md-7"><img src="{{site.baseurl}}/images/{{page.videoUrl}}" alt=""></div>
    </div>
</div>
